* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #1b1b1b;
  color: #f7f1c7;
  line-height: 1.7;
}

header {
  background-color: #202020;
  padding: 25px;
  text-align: center;
  border-bottom: 3px solid #ff7b1c;
  animation: fadeInUp 0.8s ease-in-out;
}

header h1 {
  color: #ffe676;
  font-size: 2rem;
  font-weight: 700;
}

main {
  max-width: 850px;
  background: #202020;
  margin: 40px auto;
  padding: 45px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.45);
  animation: fadeInUp 0.9s ease-in-out;
}

section {
  margin-bottom: 30px;
}

h2 {
  color: #ffe676;
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding-left: 10px;
  border-left: 4px solid #ff7b1c;
}

h3 {
  color: #f6a544;
  font-size: 1.2rem;
  margin-bottom: 6px;
}

p {
  margin-bottom: 12px;
  color: #f7f1c7;
}

ul {
  margin-left: 22px;
  color: #f7f1c7;
}

.image-container {
  text-align: center;
  margin: 25px 0;
}

.image-container img {
  width: 100%;
  max-width: 350px;
  border-radius: 12px;
  border: 2px solid #323232;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.5);
  animation: fadeInUp 0.9s ease;
  transition: 0.4s ease;
}

.image-container img:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 22px rgba(255, 200, 70, 0.25);
}

.caption {
  font-size: 0.9rem;
  margin-top: 6px;
  color: #f6a544;
  font-style: italic;
}

details {
  background: #1f1f1f;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #333;
  margin-bottom: 12px;
  cursor: pointer;
}

details summary {
  color: #ffe676;
  font-weight: bold;
  margin-bottom: 5px;
}

details p {
  margin-top: 10px;
}

.tugas-container {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.tugas-card {
  width: 330px;
  padding: 20px;
  background: #222;
  border: 2px solid #ff7b1c;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease;
  color: #ffe676;
}

.tugas-card h4 {
  margin-bottom: 5px;
  color: #ffe676;
}

.tugas-card p {
  font-size: 14px;
  color: #f7f1c7;
}

.tugas-card:hover {
  background-color: #ff7b1c;
  color: #1b1b1b;
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(255, 123, 28, 0.35);
}

.tugas-card:hover h4,
.tugas-card:hover p {
  color: #1b1b1b;
}

.rating-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.star {
  font-size: 40px;
  color: #555;
  cursor: pointer;
  transition: 0.3s ease;
  margin: 0 5px;
}

.star:hover {
  color: #ff7b1c;
}

footer {
  text-align: center;
  margin-top: 35px;
  color: #f6a544;
  font-size: 0.85rem;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
